<html>
<head>
<title>Add Dog</title>
</head>
<body>
<form action="/add-dog">

<center>
<h1>Add Dog: Tell us more about your dog!</h1>

<br>
<h2>Question #1:<h2>
<h3> What is your dog's name?</h3>
<input type="text" name="name">



<h2>Question #2:</h2>
<h3>What is your dog's breed?</h3>
<input type="text" name="breed">


<h2>Question #3:</h2>
<h3>Is your dog female or male?</h3>
<input type="checkbox" name="female"> Female<br>
<input type="checkbox" name="male"> Male<br>

<h2>Question #4:</h2>
<h3>What is your dog's age?</h3>
<input type="checkbox" name="puppy">Puppy: Less than 2 years. <br>
<input type="checkbox" name="adolecsent"> Adolecsent: 2-3 years old.<br>
<input type="checkbox" name="adult"> Adult: 4-9 years old.<br>
<input type="checkbox" name="senior"> Senior: More than 9 years old. <br>


<h2>Question #5:</h2>
<h3>What is your dog's size?</h3>
<input type="checkbox" name="toy"> Toy: Up to 12 pounds. <br>
<input type="checkbox" name="small"> Small: 12-25 pounds.<br>
<input type="checkbox" name="Medium"> Medium: 25-50 pounds.<br>
<input type="checkbox" name="Large"> Large: 50-100 pounds. <br>
<input type="checkbox" name="extraLarge"> Extra Large: More than 100 pounds.<br>

<h2>Question #6:</h2>
<h3>Is your dog social or shy?</h3>
<input type="checkbox" name="social"> Social. Will initiate play.<br>
<input type="checkbox" name="shy"> Shy. Will wait until play is initiated.<br>


<h2>Question #7:</h2>
<h3>How active is your dog?</h3>
<input type="checkbox" name="notReallyActive"> Not really active. Would play for less than 15 minutes.<br>
<input type="checkbox" name="aLittleActive"> A little active. Would play for 15 minutes.<br>
<input type="checkbox" name="mediumActive"> Medium level of activeness. Would play for 15-30 minutes.<br>
<input type="checkbox" name="veryActive"> Very active, never gets bored. Could play for 30-60 minutes.<br>


<h2>Question #7:</h2>
<h3>Is your dog friendly?</h3>
<input type="checkbox" name="yesFriendly"> Yes. <br>
<input type="checkbox" name="noFriendly">No.<br>


<h2>Question #8:</h2>
<h3>Pick a profile picture for your dog!</h3>
<input type="file" name="profilePic"> <br>


<br>
<br>
<input type="submit" value="Submit">

</center>
</form>

</body>
</html>